@font-face {
    font-family: 'Roboto-condensed';
    src: url(../fonts/RobotoCondensed-Bold.ttf);
    src: url(../fonts/RobotoCondensed-Light.ttf);
    src: url(../fonts/RobotoCondensed-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto-condensed';
}

@media  (max-width:768px){
    
    #meu-menu{
     
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    #header{
        background:none;
    }
    .responsive-text{
        display: flex;
        position: absolute;
    }
    .logo{
       
    }
    .p-sobre p{
        width:340px;
        height: 400px;
        font-size: 14px;
    }
   
}
@media (max-width:320px){
    #header{
        background:blue;
    }   
}