html,
body {
    font-size: 62.5% ;  /*1rem = 10px*/
    font-family: 'opens-sans', arial, helvetica;
    height: 100vh;
}
/* Icones fixos */
.social {
    padding: 10px;
    position: fixed;
    right: 50px;
    bottom: 50px;
}

.fa-whatsapp {
    color: green;
    font-size: 30px;
    cursor: pointer;
}

.fa-instagram {
    color: rgb(253, 17, 107);
    font-size: 30px;
    cursor: pointer;
}
/* Home */
.home {
    background: url(../imagens/bg-home.jpeg) no-repeat center center;
    background-size: cover;

    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Sobre */
.sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;

}

.img-sobre {
    width: 150px;
    height: 80px;
    border-bottom: 1px solid grey;
    margin-top: 10px;
    margin-left: 15px;
    padding: 15px;
}
.upercase{
    
    text-transform: uppercase;
}
.area-texto-sobre {
    font-size: 1.4rem;
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    flex-wrap: wrap;
    line-height: 30px;

}
.p-sobre{
    display: flex;
    flex-wrap: wrap;
    transform-origin: center;
    justify-content: center;
    
}
/* Serviço */
.servico {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background: linear-gradient(to right top, #450334, #300f20, #300f20);
    position: relative;
}

.text-area_servico {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 35px;
    color: white;
}

.info-card {
    width: 100%;
    max-width: 300px;
    flex: 1;
}

.title-card {
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
}

.info-card p {
    font-size: 1.5rem;
}

.titulo_servico {
    font-size: 2.8rem;
}

.text-area_servico {
    content: '';
    animation: subir 3s ease-in-out infinite alternate;
    animation-delay: 2s;
    animation-play-state: running;
}

@keyframes subir {
    from {
        transform: translatey(-70px);
    }

    to {
        transform: translateX(0);
    }
}


.waves {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.wave1 {
    animation: moveWave1 8s ease-in-out infinite alternate;
}

@keyframes moveWave1 {
    from {
        transform: translateX(-1000px);
    }
}

.wave2 {
    animation: moveWave1 5s ease-in-out infinite alternate;
}

@keyframes moveWave1 {
    from {
        transform: translateX(-800px);
    }
}

.wave3 {
    animation: moveWave1 9s ease-in-out infinite alternate;
}

@keyframes moveWave1 {
    from {
        transform: translateX(-600px);
    }
}

.contato {
    height: 100vh;

}