html,
body {
    font-size: 62.5%;
    /*1rem = 10px*/
    font-family: 'opens-sans', arial, helvetica;
    height: 100vh;
}

/* Icones fixos */
.social {
    padding: 10px;
    position: fixed;
    right: 50px;
    bottom: 50px;
}

/* Home */
.home {
    background: url(../imagens/bg-home.jpeg) no-repeat center center;
    background-size: cover;

    background-attachment: fixed;
    height: 88vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.home::after {
    content: url(../imagens/seta_preta.png);
    position: absolute;
    height: 35px;
    bottom: 50px;
    animation: aparecer 0.6s infinite alternate ease-in-out;
}

@-webkit-keyframes aparecer {
    0% {
        -webkit-transform: translateY(0);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(20px);
        opacity: 0.9;
    }
}

/* Sobre */
.sobre {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    max-width: 1920px;
    background: linear-gradient(45deg, #210c15, #300f20, #210c15, #300f20, #210c15, #300f20 );
    color:white;
}

.item {
    padding: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item h2 {
    font-weight: 700;
    font-size: 3.4rem;
    align-self: start;
}

.item p {
    text-align: justify;
    font-weight: 400;
    font-size: 1.6rem;
}

.sobre .image {
    width: 100%;
    height: 100%;
}

.sobre .image.right {
    background: url(../imagens/right-sobre.jpg) center center no-repeat;
    background-size: cover;
}

.sobre .image.left {
    background: url(../imagens/bg-home.jpeg) center center no-repeat;
    background-size: cover;
}

.upercase {

    text-transform: uppercase;
}

@media (max-width:425px) {
    .sobre .item {
        text-align: center;
    }

    .sobre {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
}

/* Serviço */
.servico {
    position: relative;
    padding: 30px;
}

.text-area_servico {
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.servico .card{
    margin: 10px;
    border: 1px solid #300f20;
    padding: 10px;
    border-radius: 5px;
}
@media (max-width:850px){
    .text-area_servico{
        grid-template-columns: 1fr 1fr;
        grid-template-rows:  1fr 1fr 1fr;
    }
    .title-card {
        font-size: 1.2rem;
    }
    
    .info-card ul li {
        font-size: 1.2rem;
        text-align: start;
    }
}
.info-card {
    width: 100%;
    max-width: 300px;
    padding: 20px;
    border-radius: 5px;
    height: auto;
}

.title-card {
    font-size: 1.8rem;
}

.info-card ul li {
    font-size: 1.5rem;
    list-style: disc;
    text-align: start;
}

.info-card p {
    font-size: 1.5rem;
}
@media (max-width:700px){
    .text-area_servico{
        grid-template-columns: 1fr ;
        grid-template-rows:  1fr 1fr 1fr 1fr 1fr 1fr;
    }
}


.contato {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    width: 100%;
    padding: 5%;
    background: #300f20;
}

.contato .contatos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    font-size: 2rem;
    width: 100%;
}

.contato .contatos .contato-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    gap: 20px;
}

.contato .contatos .contato-nav {
    display: flex;
    flex-direction: column;
    line-height: 50px;
    justify-content: center;
    
}
.contato .contatos .contato-nav a{
    color: white;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #450334;
    color: #fff;
    font-size: 1.6rem;
    padding: 10px;
}

footer .right {
    align-self: flex-end;
}

footer .right a {
    color: #fff;
}